<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>url shortener</title>
</head>

<body>
    <div class="contain">
        <nav>
            <h3>URL SHORTENER</h3>
        </nav>
        <div class="container">
            <form action="/shorten" method="post">
                <input type="url" placeholder="insert url" name="urlInput" id="urlInput">
                <button type="submit">SHORTEN</button>
            </form>
            <input type="text" placeholder="url shortener" name="shortUrl">
            <button>COPY</button>
            <table>
                <tr>
                    <th>Url shortener</th>
                </tr>
                <tr>
                    <td><a href="<%= Url.longUrl%>">
                            <%= Url.shortUrl%>
                        </a></td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>