<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/style.css">
    <title>url shortener</title>
</head>

<body>
    <div class="contain">
        <nav>
            <h3>URL SHORTENER</h3>
        </nav>
        <div class="container">
            <form action="/shorten" method="post">
                <input type="url" placeholder="insert url" name="urlInput" id="urlInput">
                <button type="submit">SHORTEN</button>
            </form>
            <br>
            <table>
                <tr>
                    <th>Url shortened</th>
                </tr>
                <tr>
                    <td><a href="<%= Url.longUrl%>">
                            <%= Url.shortUrl%>
                        </a></td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>