<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>url shortener</title>
</head>

<body>
    <div class="contain">
        <nav>
            <h3>URL SHORTENER</h3>
        </nav>
        <div class="container">
            <form action="/urlc" method="post">
                <input type="text" placeholder="insert url" name="urlInput">
                <button type="submit">SHORTEN</button>
            </form>
            <input type="text" placeholder="url shortener">
            <button>COPY</button>
        </div>
    </div>
</body>

</html>